:root {
  --main-green: #076B49;
  --main-green-half: #076b49c9;
  --sec-green: #74CC67;
  --black: #000;
  --white: #FFF;
  --gray: #ededed;
  --dark-gray: #7c7c7c;
  --lb-gray: #E0E9E6;
  --shadow-color: hsl(0deg 0% 0% / 26%);
}

@media only screen and (max-width: 767px) {
  .App {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    grid-template-columns: 2fr 3fr 2fr;
  }
}

.App {
  width: 100dvw;
  max-width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Buttons */

.lower-buttons {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.lower-buttons button {
  width: 85dvw;
  max-width: 653px;
  height: 3rem;
  margin: 0.3rem 0;
  border: none;
  border-radius: 10rem;
  font-size: 1rem;
  color: var(--black);
}

.lower-buttons button:hover {
  cursor: pointer;
  border: solid var(--main-green) 0.1rem;
	box-shadow: 0.25em 0.25em .75em -.5em var(--shadow-color);
}

.lower-buttons
.button-home {
  background-color: var(--white);
}

.back-button {
  width: 3rem;
  height: 3rem;
  margin: 0.3rem 0;
  padding-top: 0.2rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.2rem;
}

.back-button:hover {
  cursor: pointer;
  background-color: var(--main-green);
  color: var(--white);
}

/* Phones */
@media only screen and (max-width: 600px) {
  .main-container {
    grid-column-start: 1;
  }
}

/* Portrait tablets and large phones */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-container {
    grid-column-start: 2;
  }
}

/* Small laptops and desktops */
@media only screen and (min-width: 1025px) {
  .main-container {
    grid-area: 1 / 2 / span 10 / span 1;
  }

  .lower-buttons button {
    width: 30dvw;
  }
}
