@media only screen and (max-width: 767px) {
  .category-container {
    grid-column-start: 1;
  }
}

@media only screen and (min-width: 768px) {
  .category-container {
    grid-area: 3 / 2 / 8 / 2;
    justify-content: center;
  }
}

.category-container {
  height: 100vh;
  width: 100vw;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.category-container h4 {
  font-size: 1.5rem;
  padding-top: 5rem;
}

.category-container .category-icon {
  font-size: 10rem;
  color: var(--main-green);
}

.category-container p {
  width: 85%;
  font-size: 1.2rem;
  text-align: center;
}

.category-container .category-buttons {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.category-container .category-buttons button {
  width: 85vw;
  max-width: 653px;
  height: 6vh;
  margin: 0.3rem 0;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.2rem;
}

.category-container .category-buttons button:hover {
  cursor: pointer;
  background-color: var(--main-green);
  color: var(--white);
	box-shadow: 0.25em 0.25em .75em -.5em var(--shadow-color);
  font-weight: bold;
}

.category-container .category-buttons .button-home {
  background-color: var(--white);
}