.login-container {
  display: grid;
  grid-template-areas: 1fr 150px 1fr;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

.login-header-text {
  margin: 5rem 0 0 1rem;
}

.login-header-text h3, .login-header-text p {
  margin: 0.5rem 0;
}

.login-header-text p {
  color: gray;
}

.login-form {
  width: 100%;
  margin: 3rem auto;
}

.invalid-login {
  color: rgb(255, 0, 0);
  text-align: center;
  margin: 0.5rem;
}

.login-email, .login-password {
  display: flex;
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.login-icon {
  color: gray;
  font-weight: bold;
}

.login-email input, .login-password input {
  width: 100%;
  margin-left: 0.75rem;
  border-style: hidden;
  outline: none;
}

.login-form-break {
  height: 1rem;
}

.forgot-password {
  color: var(--main-green);
  text-align: center;
  margin: 0.25rem;
}

.login-buttons button{
  width: 50vw;
  max-width: 200px;
}

#login-button {
  background-color: var(--main-green);
  color: white;
  font-weight: bold;
}

.sign-up {
  margin: 1rem;
  text-align: center;
}

.sign-up p {
  margin: 0.25rem;
}

.register-button {
  display: block;
  color: var(--main-green);
  text-decoration: none;
}