.category-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-container
.category-wrapper {
  height: 100dvh;
  width: 100dvw;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.category-container
.category-wrapper h4 {
  font-size: 1.5rem;
  padding-top: 4rem;
  margin-bottom: 0;
}

.category-container
.category-wrapper h1 {
  text-transform: capitalize;
}

.category-container
.category-wrapper
.category-icon {
  font-size: 10rem;
  color: var(--main-green);
}

.category-container
.category-wrapper
.category-short-desc {
  width: 85%;
}

.category-container
.category-wrapper
.category-short-desc p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0.7rem 0;
}

.category-container
.category-modal {
  width: 35dvw;
  max-width: 100%;
  max-height: 45dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

/******** Modal ********/

.modal-container {
  min-height: 20dvh;
  max-height: 60dvh;
  background-color: var(--white);
  box-shadow: 0.75em 0.75em 1.75em -0.5em var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  z-index: 2;
}

.modal-container
.modal-container-top {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-container
.modal-container-top h2 {
  margin: 2rem 0 0 0;
  text-transform: capitalize;
}

.modal-container
.modal-x-button {
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
}

.modal-container
.modal-x-button:hover {
  cursor: pointer;
}

.modal-container hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin-top: 1rem;
  width: 90%;
}

.modal-container p {
  margin: 0.5rem 0;
}

.modal-container
.modal-text {
  width: 85%;
  max-width: 90%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0 0.6rem;
}

.modal-container
.modal-text h1 {
  margin: 0.5rem 0 0 0;
  font-size: 1.2rem;
}

.modal-container
.modal-text ul {
  margin: 0.2rem 0 0 0;
  padding-left: 1.5rem;
}

.modal-container
.modal-text li {
  font-size: 1.3rem;
}


.modal-container
.modal-text::-webkit-scrollbar-thumb,
.modal-text::-webkit-scrollbar-track {
  background-color: transparent;
}

.modal-container
.modal-got-it-button {
  width: 50%;
  height: 7dvh;
  border-radius: 10rem;
  border: none;
  color: var(--white);
  background-color: var(--main-green);
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
}

.modal-container
.modal-got-it-button:hover {
  cursor: pointer;
}

.modal-background {
  width: 100dvw;
  max-width: 100%;
  height: 100dvh;
  max-height: 100%;
  background-color: #000;
  background-color: #000000a3;
  position: absolute;
}


/* Phones */
@media only screen and (max-width: 600px) {
  .category-container
  .category-modal {
    width: 80dvw;
    max-height: 50dvh;
  }

  .category-container
  .category-wrapper h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .category-container
  .category-wrapper h4 {
    font-size: 1.3rem;
  }

  .category-container
  .category-wrapper
  .category-short-desc p {
    font-size: 1rem;
  }

  .category-container
  .category-wrapper
  .category-icon {
    font-size: 8rem;
  }

  .category-container
  .category-wrapper
  .category-buttons button {
    width: 85dvw;
  }

  .modal-container {
    height: 50dvh;
  }

  .modal-container
  .modal-got-it-button {
    height: 8dvh;
  }

  .modal-container
  .modal-text li {
    font-size: 0.9rem;
  }
}

/* Portrait tablets and large phones */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .category-container
  .category-modal {
    width: 80dvw;
    max-height: 50dvh;
  }

  .category-container
  .category-wrapper h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  .category-container
  .category-wrapper h4 {
    font-size: 2.5rem;
  }

  .category-container
  .category-wrapper
  .category-short-desc p {
    font-size: 1.8rem;
  }

  .category-container
  .category-wrapper
  .category-icon {
    font-size: 14rem;
  }

  .modal-container p {
    font-size: 1.5rem;
  }

  .modal-container
  .modal-container-top h2 {
    font-size: 2rem;
  }

  .modal-container
  .modal-x-button {
    font-size: 1.5rem;
  }

  .modal-container
  .modal-got-it-button{
    height: 7dvh;
    font-size: 1.5rem;
  }

  .category-container
  .category-wrapper
  .category-buttons
  button {
    font-size: 1.7rem;
    width: 85dvw;
  }
}

/* Small laptops and desktops */
@media only screen and (min-width: 1025px) {

}