:root {
  --main-green: #076B49;
  --sec-green: #74CC67;
  --white: #FFF;
  --lb-gray: #E0E9E6;
}

.lb-container {
  height: 80vh;
  width: 100vw;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lb-table {
  width: 95vw;
  height: 60vh;
}

.lb-header {
  background: var(--main-green);
  color: var(--white);
}

.lb-header-name {
  height: 2.5rem;
  text-align: left;
  padding-left: 1rem;
}

.lb-user-stats {
  width: 95vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.2rem var(--main-green) solid;
  border-radius: 5rem;
  margin-bottom: 2rem;
}

.lb-name {
  text-align: left;
  padding-left: 1rem;
}
