/* Color variables */
:root {
  --main-green: #076B49;
  --sec-green: #74CC67;
  --white: #FFF;
  --lb-gray: #E0E9E6;
}

.lb-container {
  height: 80vh;
  width: 100vw;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lb-container .lb-user-stats {
  width: 80%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.2rem var(--main-green) solid;
  border-radius: 5rem;
  margin-bottom: 2rem;
}

.lb-container .lb-table {
  width: 95%;
  height: 60vh;
  border: 0.15rem var(--main-green) solid;
  border-spacing: inherit;
}

.lb-container .lb-table tr:nth-of-type(even) {
  background: var(--lb-gray);
}

.lb-container .lb-table th + th {
  border-left: 0.1rem var(--white)solid;
}

.lb-container .lb-table td + td {
  border-left: 0.1rem var(--main-green)solid;
}

.lb-container .lb-header {
  background: var(--main-green);
  color: var(--white);
}

.lb-container .lb-header-name {
  height: 2.5rem;
  text-align: left;
  padding-left: 1rem;
}

.lb-container .lb-name {
  text-align: left;
  padding-left: 1rem;
}
